*{

    color: white;


}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(131, 182, 107);
}

.center{
    text-align: center;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

.centerList {
    display: inline-block;
    text-align: left;
  }
#botonsobremi{
    color:black;
}

